{% load static %}
<!DOCTYPE html>
<head>
    <title>ICS Diagnostics</title>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'diagnostics/css/index.css' %}">-->
    <script src="{% static 'reactjs/react.development.js' %}"></script>
    <script src="{% static 'reactjs/react-dom.development.js' %}"></script>
    <script src="{% static 'reactjs/babel.min.js' %}"></script>
    <script type="text/babel" src="{% static 'diagnostics/js/index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'diagnostics/css/diagnostics.css' %}">
</head>
<body>
  <div id="root"></div>
</body>
