{% load static %}
<!DOCTYPE html>
<head>
    <title>React Tutorial</title>
    <link rel="stylesheet" type="text/css" href="{% static 'react/css/index.css' %}">
    <script src="{% static 'reactjs/react.development.js' %}"></script>
    <script src="{% static 'reactjs/react-dom.development.js' %}"></script>
    <script src="{% static 'reactjs/babel.min.js' %}"></script>
    <script type="text/babel" src="{% static 'react/js/index.js' %}"></script>
</head>
<body>
    <div id="root"></div>
</body>
