.scene-div {
    width:1000px;
    height:500px;
    margin: 0 auto;
}

.custom-table {
    width: 250px;
    margin: 10px auto;
    text-align: center;
}

.header {
     color: black !important;
     font-weight: bold;
     border-radius: 10px 10px 0px 0px !important;
}

ul li:last-child {
    border-radius: 0px 0px 10px 10px !important;
}
